*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: #F2C14E;
    --winning-blocks: #2d414b;
}

body {
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
}
h1 {
    font-size: 65px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.747);
}

.container { 
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #37505C;
    background: linear-gradient(to right bottom,#4c7284,#11243a);
    background: linear-gradient(to right bottom,#4c2334,#11243a);
    background-repeat: no-repeat;
    background-size: cover;

}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    text-shadow: 2px 2px 10px black;
    font-size: 105px;
}
.box:nth-child(3n) {
    border-right: none;
}
.box:nth-child(6) ~ .box {
    border-bottom: none;
} 
button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-style: none;
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
    box-shadow: 2px 2px 10px black;
}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}





@media (orientation: portrait){

    h1 {
        font-size: 40px;
        text-transform: uppercase;
    }
    
    .container { 
        padding: 20px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: linear-gradient(to right top,#37505C,#0f2129);
    }
    
    #gameboard {
        width: 150px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .box {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 80px;
        border-right: 2px solid #F2C14E;
        border-bottom: 2px solid #F2C14E;
        font-size: 45px;
    }
    .box:nth-child(3n) {
        border-right: none;
    }
    .box:nth-child(6) ~ .box {
        border-bottom: none;
    } 
    button {
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #F2C14E;
        color: #333;
        border-color: #F2C14E;
        font-size: 10px;
        transition: 200ms transform;
        font-weight: 600;
    }
    button:hover {
        cursor: pointer;
        transform: translateY(-2px);
    }

}